  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: black;
    line-height: 1.25;
    padding: 0.75%;
  }
  
  h2,h3{
    font-size: 16px;
  }
  
   .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius:.3rem;
    color:white;
    border: none;
    outline: none;
    background-color: #5aa2e9;
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: white;
    background-color: #3b6dc3;
    transform: translate(0, 0);
  }

  .btn1 {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius:.3rem;
    color:black;
    border: none;
    outline: none;
    background-color:#b7b7b7;
    transform: translate(-1px, -1px);
  }

   .btn1:hover {
    color:black;
    background-color: rgb(131, 127, 127);
    transform: translate(0, 0);
  }
  
  
  .hero {
    padding: 1% 4%;
    background-image: linear-gradient(to right,#3b6dc3,#260d5e);
  }
  
  .app-title {
    font-size: 3rem;
    color: white;
    padding: 0 10px;
    display: inline-block;
    margin:0% 30%;
  }
  
  .card {
    margin: 0 0 20px 0;  
    border-radius: .3rem;
    border: none;
  }

  .card-header {
    color: black;
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    border-bottom: none;
    background-color: white;
  }
  

  .card-body {
    padding: 2.5%;
  }

  .card1 {
    margin: 0 0 20px 0; 
    width:160px;
    height:225px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: #3b6ec4;
    /*background-color: #33475a;*/
  }
  
  .card-header1 {
    color: white;
    padding: 2.5%;
    background-color:#33475a;
  }
  
  .current{
      border: black solid 1px;
      height: 40%;  
      justify-content:space-evenly;
  }

  .fiveday{
      height: 60%;    
  }
 
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: .3rem;
  }
  
  